.nav {
  height: 100%;
  width: 67.733vw;
  background: hsl(45, 100%, 50%);
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  right: 0;
  transform: translateX(100%);
  transition: all .5s ease-in-out;
  padding: 2rem 1.5rem 0 2rem;
}

.icon-close-section__icon-close {
  display: block;
  height: 20px;
  width: 20px;
}

.icon-close-section {
  display: flex;
  justify-content: flex-end;
}
