a {
  text-decoration: none;
}

.nav {
  height: 100%;
  width: 67.733vw;
  /* background: hsl(214.74deg 46.34% 8.04%); */
  /* opacity: 50%; */
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  right: 0;
  transform: translateX(100%);
  transition: all .5s ease-in-out;
  /* padding: 2rem 1.5rem 0 2rem; */
  padding: 2rem 0 0 2rem;
  gap: 50px;
  z-index: 99;

  .navegation {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;

    .option {
      width: 100%;
      /* background-color: rgb(0, 4, 45);
      border: 2px solid rgb(255, 204, 167); */
      color: #fff;
      display: flex;
      gap: 10px;



      &:hover {
        .whitehidden {
          /* display: block; */
          opacity: 0.7;
        }
      }

      .ubication {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: rgb(208, 214, 249);

        .numero {
          font-weight: 900;
          text-decoration: none;
          color: #fff;

        }
      }

      .cuadro {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        .cuadroblanco {
          background-color: #fff;
          width: 3px;

        }

        .whitehidden {
          /* display: none; */
          background-color: #fff;
          width: 3px;
          opacity: 0;
          transition: opacity 1s ease 0s;

          /* &:hover {
              display: block;
              opacity: 0.7;
          } */

        }
      }

      &:hover {
        .whitehidden {
          /* display: block; */
          opacity: 0.7;
        }
      }

    }
  }
}

.icon-close-section__icon-close {
  display: block;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.icon-close-section {
  display: flex;
  justify-content: flex-end;
  padding: 0 24px;
}