@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-image: url("./assets/destination/background-destination-desktop.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 100vw;
  overflow-x: hidden;
  background-attachment: fixed;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;

  .line {
    display: none;
  }

  .menu-hamburgesa {
    width: 30px;
    height: 27px;
  }
}

.bigmenu {
  display: none;
}

.information1 {
  color: rgb(208, 214, 249);
  font-weight: 200;
  letter-spacing: 0.7px;
  line-height: 1.6;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;

  .number {
    opacity: 30%;
    padding: 0px 1rem;
  }
}

.cuerpo-desktop{
  display: none;
}

.cuerpo {
  display: flex;
  color: #fff;
  flex-direction: column;
  padding: 20px 20px;
  /* width: 100%; */
  /* height: 100vh; */
  gap: 26px;
  align-items: center;
  /* overflow-x: auto; */


  .moon {
    margin: 24px;

    .image {
      width: 170px;
      height: 170px;
    }
  }

  .selector {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;

    .elemento {
      text-decoration: none;
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: 32px;



      &:hover {
        .bh {
          display: block;
          opacity: 0.7;
        }
      }

      .barra {
        background-color: #fff;
        width: 100%;
        height: 4px;

      }

      .bh {
        /* display: none; */
        opacity: 0;
        transition: opacity 1s ease 0s;

      }
    }


  }

  .titulo {
    font-size: 50px;
  }

  .information {
    color: rgb(208, 214, 249);
    font-weight: 200;
    letter-spacing: 0.7px;
    line-height: 1.6;
    text-align: center;
    font-size: 1rem;

    .number {
      opacity: 30%;
      padding: 0px 1rem;
    }
  }

  .hr {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }

  .cubo {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .propuesta {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;

      .respuesta {
        font-size: 28px;
      }

      .topic {
        opacity: 70%;
      }
    }
  }

}

@media (min-width: 700px) and (max-width: 1024px) {

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px; */
    margin: 0;
    height: 100px;

    .logo {
      padding: 0 38px 0 38px;
    }

    .menu-hamburgesa {
      width: 30px;
      height: 27px;
      display: none;
    }

    .bigmenu {
      display: flex;
      flex-direction: row;
      /* flex-wrap: nowrap; */
      gap: 50px;
      /* backdrop-filter: blur(10px); */
      /* background-color: #272A34; */
      backdrop-filter: blur(10px) contrast(0.9);
      height: 100%;
      align-items: center;
      width: 100%;
      justify-content: center;

      .elemento {
        color: rgb(208, 214, 249);
        text-decoration: none;
        display: flex;
        flex-direction: column;
        gap: 38px;
        height: 100%;
        /* flex-direction: row; */
        /* align-items: center;
        justify-content: center; */

        .rellenuto {
          width: 100%;
          height: 2px;
        }

        .conjunto {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          gap: 8px;

        }

        .cuadro1 {
          display: flex;
          justify-content: flex-end;
          width: 100%;

          .barra {
            background-color: #fff;
            width: 100%;
            height: 3px;

          }

          .barrahidden {
            /* display: none; */
            background-color: #fff;
            width: 100%;
            opacity: 0;
            transition: opacity 0.8s ease 0s;

          }
        }

        &:hover {
          .barrahidden {
            /* display: block; */
            opacity: 0.7;
          }
        }

        /* .barra {
          background-color: #fff;
          width: 100%;
          height: 4px;
          display: none;
        } */
      }

      .numero {
        color: #fff;
        font-weight: 900;
      }

      .relleno {
        width: 1px;
        /* display: none; */
      }
    }
  }

  .information1 {
    text-align: start;
    padding: 40px 40px 20px 40px;
    font-size: 20px;
    color: #fff;

  }

  .cuerpo {
    padding: 0 40px 40px 40px;

    .moon {

      .image {
        width: 305px;
        height: 305px;
      }
    }

    .titulo {
      font-size: 80px;
    }

    .information {
      width: 525px;
    }

    .hr {
      width: 550px;
    }

    .cubo {
      display: flex;
      flex-direction: row;
      gap: 135px;
    }
  }
}