@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-image: url("./assets/crew/background-crew-mobile.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 100vw;
    overflow-x: hidden;
    background-attachment: fixed;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    .menu-hamburgesa {
        width: 30px;
        height: 27px;
    }

    .bigmenu {
        display: none;
    }
}

.pagina {
    color: rgb(208, 214, 249);
    font-weight: 200;
    letter-spacing: 0.7px;
    line-height: 1.6;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;

    .number {
        opacity: 30%;
        padding: 0px 1rem;
    }
}

.cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px;
    gap: 50px;
    color: #fff;

    .presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .base {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 14px;
            /* padding: 25px; */
        }

        .ocupation {
            color: rgb(208, 214, 219);
            font-size: 22px;
            opacity: 50%;
        }

        .name {
            color: rgb(208, 214, 219);
            font-size: 22px;
        }


        .information {
            color: rgb(208, 214, 249);
            font-weight: 200;
            letter-spacing: 0.7px;
            line-height: 1.6;
            text-align: center;
            font-size: 1rem;
        }
    }

    .fila {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 120px;
        /* margin: 20px; */



        .punto {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: #fff;
            cursor: pointer;
        }

        .p1 {
            opacity: 30%;
            transition: opacity 1s ease 0s;


            &:hover {
                opacity: 70%;
            }

        }


    }


    .imagen {
        position: relative;
        padding: 10px;

        .worker {

            .member1 {
                width: 270px;
            }

            .member2 {
                height: 320px;
            }

            .member3 {
                width: 290px;
            }

            .member4 {
                width: 250px;
            }
        }

        .difuminado {
            /* background-color: hsl(228, 36%, 7%, 0.7);         */
            /* background-color: #0b0e17;        */
            background-color: #0b0e17;

            position: absolute;
            bottom: 1px;
            opacity: 80%;
            width: 100%;
            height: 15px;
            box-shadow: 0px -12px 6px 0px rgb(11 14 23);
        }
    }
}

@media (min-width: 700px) and (max-width: 1024px) {

    .body {
        background-image: url("./assets/crew/background-crew-tablet.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        max-width: 100vw;
        overflow-x: hidden;
        background-attachment: fixed;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 0px; */
        margin: 0;
        height: 100px;

        .logo {
            padding: 0 38px 0 38px;
        }

        .menu-hamburgesa {
            width: 30px;
            height: 27px;
            display: none;
        }

        .bigmenu {
            display: flex;
            flex-direction: row;
            /* flex-wrap: nowrap; */
            gap: 50px;
            /* backdrop-filter: blur(10px); */
            /* background-color: #272A34; */
            backdrop-filter: blur(10px) contrast(0.9);
            height: 100%;
            align-items: center;
            width: 100%;
            justify-content: center;

            .elemento {
                color: rgb(208, 214, 249);
                text-decoration: none;
                display: flex;
                flex-direction: column;
                gap: 38px;
                height: 100%;
                /* flex-direction: row; */
                /* align-items: center;
        justify-content: center; */

                .rellenuto {
                    width: 100%;
                    height: 2px;
                }

                .conjunto {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    gap: 8px;

                }

                .cuadro1 {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;

                    .barra {
                        background-color: #fff;
                        width: 100%;
                        height: 3px;

                    }

                    .barrahidden {
                        /* display: none; */
                        background-color: #fff;
                        width: 100%;
                        opacity: 0;
                        transition: opacity 0.8s ease 0s;

                    }
                }

                &:hover {
                    .barrahidden {
                        /* display: block; */
                        opacity: 0.7;
                    }
                }

                /* .barra {
          background-color: #fff;
          width: 100%;
          height: 4px;
          display: none;
        } */
            }

            .numero {
                color: #fff;
                font-weight: 900;
            }

            .relleno {
                width: 1px;
                /* display: none; */
            }
        }
    }

    .pagina {
        text-align: start;
        padding: 40px 40px 20px 40px;
        font-size: 20px;
        color: #fff;
    }

    .cuerpo {
        padding: 22px 22px 0 22px;

        .presentation {

            .ocupation {
                font-size: 24px;
            }

            .name {
                font-size: 40px;
            }

            .information {
                width: 512px;
            }
        }

        .imagen {
            padding: 0;
            overflow: hidden;

            .worker {
                
                .member1 {
                    height: 512px;
                    width: auto;
                }
            }

            .member2{
                height: 495px;
            }

            .member3{
                height: 480px;
                width: auto;
            }

            .member4{
                height: 440px;
            }



            .difuminado {
                display: none;
            }
        }
    }

}