@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-image: url("./assets/crew/background-crew-mobile.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 100vw;
    overflow-x: hidden;
    background-attachment: fixed;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    .menu-hamburgesa {
        width: 30px;
        height: 27px;
    }
}

.cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px;
    gap: 50px;
    color: #fff;

    .pagina {
        color: rgb(208, 214, 249);
        font-weight: 200;
        letter-spacing: 0.7px;
        line-height: 1.6;
        text-align: center;
        font-size: 1rem;

        .number {
            opacity: 30%;
            padding: 0px 1rem;
        }
    }

    .presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;

        .base {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 14px;
            /* padding: 25px; */
        }

        .ocupation {
            color: rgb(208, 214, 219);
            font-size: 22px;
            opacity: 50%;
        }

        .name {
            color: rgb(208, 214, 219);
            font-size: 22px;
        }


        .information {
            color: rgb(208, 214, 249);
            font-weight: 200;
            letter-spacing: 0.7px;
            line-height: 1.6;
            text-align: center;
            font-size: 1rem;
        }
    }

    .fila {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 120px;
        /* margin: 20px; */



        .punto {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: #fff;
            cursor: pointer;
        }

        .p1 {
            opacity: 30%;
            transition: opacity 1s ease 0s;


            &:hover {
                opacity: 70%;
            }

        }


    }


    .imagen {
        position: relative;
        padding: 10px;

        .member1 {
            width: 270px;
        }

        .member2 {
            height: 320px;
        }

        .member3 {
            width: 290px;
        }

        .member4 {
            width: 250px;
        }

        .difuminado {
            /* background-color: hsl(228, 36%, 7%, 0.7);         */
            /* background-color: #0b0e17;        */
            background-color: #0b0e17;

            position: absolute;
            bottom: 1px;
            opacity: 80%;
            width: 100%;
            height: 15px;
            box-shadow: 0px -12px 6px 0px rgb(11 14 23);
        }
    }
}