@media (min-width: 1025px) {

    body {
        background-image: url("/starter-code/assets/crew/background-crew-desktop.jpg");
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        height: 100px;
        margin: 40px 0 0 0;
        position: relative;

        .logo {
            padding: 0 60px 0 60px;
        }

        .menu-hamburgesa {
            width: 30px;
            height: 27px;
            display: none;
        }

        .line {
            display: block;
            width: 630px;
            background-color: #565656;
            height: 2px;
            position: absolute;
            top: 50px;
            /* left: -156px; */
            z-index: 77;
            right: 750px;
        }

        .bigmenu {
            display: flex;
            flex-direction: row;
            /* flex-wrap: nowrap; */
            gap: 50px;
            /* backdrop-filter: blur(10px); */
            /* background-color: #191B26; */
            backdrop-filter: blur(10px) contrast(0.9);
            height: 100%;
            align-items: center;
            /* width: 100%; */
            width: 800px;
            justify-content: center;

            .elemento {
                color: rgb(208, 214, 249);
                text-decoration: none;
                display: flex;
                flex-direction: column;
                gap: 38px;
                height: 100%;
                /* flex-direction: row; */
                /* align-items: center;
        justify-content: center; */

                .rellenuto {
                    width: 100%;
                    height: 2px;
                }

                .conjunto {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    gap: 8px;

                }

                .cuadro1 {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;

                    .barra {
                        background-color: #fff;
                        width: 100%;
                        height: 3px;

                    }

                    .barrahidden {
                        /* display: none; */
                        background-color: #fff;
                        width: 100%;
                        opacity: 0;
                        transition: opacity 0.8s ease 0s;

                    }
                }

                &:hover {
                    .barrahidden {
                        /* display: block; */
                        opacity: 0.7;
                    }
                }

                /* .barra {
          background-color: #fff;
          width: 100%;
          height: 4px;
          display: none;
        } */
            }

            .numero {
                color: #fff;
                font-weight: 900;
            }

            .relleno {
                width: 1px;
                /* display: none; */
            }
        }
    }

    .pagina {
        text-align: start;
        padding: 40px 160px;
        font-size: 28px;
        color: #fff;
    }

    .cuerpo {
        display: none;
    }

    .cuerpo-desktop {
        display: flex;
        flex-direction: row;
        padding: 20px 160px 40px 160px;
        justify-content: center;
        gap: 40px;

        .column {
            display: flex;
            color: #fff;
            flex-direction: column;
            padding: 150px 20px 20px 20px;

            /* Aquí está */

            /* justify-content: center; */
            gap: 24px;
            color: #fff;

            .presentation {
                display: flex;
                flex-direction: column;
                /* justify-content: center;
                align-items: center; */
                gap: 24px;

                .base {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    /* align-items: center; */
                    gap: 16px;
                    /* padding: 25px; */
                }

                .ocupation {
                    color: rgb(208, 214, 219);
                    font-size: 32px;
                    opacity: 50%;
                }

                .name {
                    color: rgb(208, 214, 219);
                    font-size: 56px;
                }


                .information {
                    color: rgb(208, 214, 249);
                    font-weight: 200;
                    letter-spacing: 0.7px;
                    line-height: 1.8;
                    /* text-align: center; */
                    font-size: 18px;
                    width: 515px;
                }
            }

            .space {
                width: 100%;
                height: 100%;
            }

            .fila {

                display: flex;
                flex-direction: row;
                /* justify-content: space-around; */
                gap: 38px;
                /* width: 120px; */
                /* margin: 20px; */



                .punto {
                    width: 15px;
                    height: 15px;
                    border-radius: 100%;
                    background-color: #fff;
                    cursor: pointer;
                }

                .p1 {
                    opacity: 30%;
                    transition: opacity 1s ease 0s;


                    &:hover {
                        opacity: 70%;
                    }

                }


            }

        }

        .imagen {
            position: relative;
            padding: 10px;

            .worker {

                .member1 {
                    /* width: 535px; */
                    height: 734px;
                }

                .member2 {
                    height: 720px;
                }

                .member3 {
                    /* width: 290px; */
                    height: 660px;
                }

                .member4 {
                    width: 250px;
                }
            }

            .difuminado {
                /* background-color: hsl(228, 36%, 7%, 0.7);         */
                /* background-color: #0b0e17;        */
                background-color: #0b0e17;

                position: absolute;
                bottom: 6px;
                opacity: 80%;
                width: 100%;
                height: 15px;
                box-shadow: 0px -12px 6px 0px rgb(11 14 23);
            }
        }

    }
}