@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.body {
  background-image: url("./assets/home/background-home-mobile.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 100vw;
  overflow-x: hidden;
  background-attachment: fixed;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  .menu-hamburgesa {
    width: 30px;
    height: 27px;
  }

  .bigmenu {
    display: none;
  }
}

.cuerpo {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 30px 30px 140px 30px;
  color: #fff;
  gap: 28px;

  .titulo {
    font-size: 80px;
    font-weight: 100;
    font-family: "Bellefair", serif;
  }

  .texto-inicial {
    color: rgb(208, 214, 249);
    font-weight: 200;
    letter-spacing: 0.5px;
    line-height: 1.5;
    text-align: center;
    font-size: 16px;
    font-family: "Bellefair", serif;
    font-weight: 300;
  }

  .texto {
    color: rgb(208, 214, 249);
    font-weight: 200;
    letter-spacing: 0.5px;
    line-height: 180%;
    text-align: center;
    font-size: 1rem;
  }

  .gap {
    width: 100%;
    height: 80px;
  }

  /* .Explorar {
    font-weight: 400;

    :hover {
      box-shadow: 0 0 0 80px rgb(255, 255, 255, .1);
    }

    .boton {
      display: flex;
      width: 150px;
      height: 150px;
      border-radius: 100%;
      background-color: #fff;
      justify-content: center;
      align-items: center;
      color: #0b0d17;
      cursor: pointer;

      .h3 {
        text-decoration: none;
        font-size: 18px;
      }
    }
  } */
}

.explorer_btn {
  font-weight: 400;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  color: #0b0d17;
  transition: box-shadow .3s ease-in-out;

  &:hover {
    box-shadow: 0 0 0 80px rgb(255, 255, 255, .1);
  }
}

@media (min-width: 760px) and (max-width: 1024px) {
  .body {
    background-image: url("./assets/home/background-home-tablet.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 100vw;
    overflow-x: hidden;
    background-attachment: fixed;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .menu-hamburgesa {
      width: 30px;
      height: 27px;
      display: none;

    }

    .bigmenu {
      display: flex;
      flex-direction: row;
      gap: 40px;

      .elemento {
        color: rgb(208, 214, 249);
        text-decoration: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 32px;

        .barra {
          background-color: #fff;
          width: 100%;
          height: 4px;
        }
      }

      .numero {
        color: #fff;
        font-weight: 900;
      }
    }
  }
}

@media (min-width: 1024px) {
  .body {
    background-image: url("./assets/home/background-home-desktop.jpg");
  }
}