/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-image: url("./assets/home/background-home-mobile.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;

  .menu-hamburgesa {
    width: 30px;
    height: 27px;
  }
}

.cuerpo {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 30px 30px 30px 30px;
  color: #fff;
  gap: 20px;

  .titulo {
    font-size: 70px;
    font-weight: 100;
    font-family: "Bellefair", serif;
  }
  .texto-inicial {
    color: rgb(208, 214, 249);
    font-weight: 200;
    letter-spacing: 0.5px;
    line-height: 1.5;
    text-align: center;
    font-size: 16px;
    font-family: "Bellefair", serif;
    font-weight: 300;
  }

  .texto {
    color: rgb(208, 214, 249);
    font-weight: 200;
    letter-spacing: 0.5px;
    line-height: 1.5;
    text-align: center;
    font-size: 15px;
  }

  .gap {
    width: 100%;
    height: 40px;
  }

  .Explorar {
    font-family: "Bellefair", serif;
    font-weight: 400;

    .boton {
      display: flex;
      width: 150px;
      height: 150px;
      border-radius: 100%;
      background-color: #fff;
      justify-content: center;
      align-items: center;
      color: #0b0d17;
      cursor: pointer;
    }
  }
}

/* .boton:hover {
        background-color: aqua;
      } */

@media (min-width: 1024px) {
  .body {
    background-image: url("./assets/home/background-home-desktop.jpg");
  }
}
