@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-image: url("./assets/technology/background-technology-mobile.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    .menu-hamburgesa {
        width: 30px;
        height: 27px;
    }
}