@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

.body {
    background-image: url("./assets/technology/background-technology-mobile.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 100vw;
    overflow-x: hidden;
    background-attachment: fixed;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    .menu-hamburgesa {
        width: 30px;
        height: 27px;
    }

    .bigmenu {
        display: none;
    }

    .line {
        display: none;
    }
}

.titulo {
    color: rgb(208, 214, 249);
    font-weight: 200;
    letter-spacing: 0.7px;
    line-height: 1.6;
    text-align: center;
    font-size: 1rem;

    .number {
        opacity: 30%;
        padding: 0px 1rem;
    }
}

.cuerpo-desktop {
    display: none;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
    color: #fff;
    padding: 1rem 0;

    .cuerpo2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        color: #fff;
        padding: 24px 0;


        .image-tablet {
            display: none;

            .imgt {
                display: none;
            }
        }

        .image {
            width: 100%;
            height: 260px;
            overflow: hidden;

            .img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: bottom;
            }

            .img2 {
                object-position: center;
            }

            .img3 {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .selector {
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: space-around;


            .elemento {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                border: 1px solid hsl(235, 7%, 34%);
                transition: border 1.2s ease 0s;


                &:hover {
                    border: 1px solid #ffffff;

                }
            }

            .indicado {
                background-color: #fff;
                color: black;
            }
        }

        .explanation {
            display: flex;
            flex-direction: column;
            gap: 12px;
            justify-content: center;
            align-items: center;

            .type {
                color: rgb(208, 214, 219);
                font-size: 20px;
                opacity: 50%;
            }

            .rocket {
                color: rgb(208, 214, 219);
                font-size: 22px;
            }
        }

        .information {
            color: rgb(208, 214, 249);
            font-weight: 200;
            letter-spacing: 0.7px;
            line-height: 1.6;
            text-align: center;
            font-size: 1rem;
            padding: 0 22px;
        }
    }
}

@media (min-width: 700px) and (max-width: 1024px) {

    .body {
        background-image: url("./assets/technology/background-technology-tablet.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        max-width: 100vw;
        overflow-x: hidden;
        background-attachment: fixed;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 0px; */
        margin: 0;
        height: 100px;

        .logo {
            padding: 0 38px 0 38px;
        }

        .menu-hamburgesa {
            width: 30px;
            height: 27px;
            display: none;
        }

        .line {
            display: none;
        }

        .bigmenu {
            display: flex;
            flex-direction: row;
            /* flex-wrap: nowrap; */
            gap: 50px;
            /* backdrop-filter: blur(10px); */
            /* background-color: #272A34; */
            backdrop-filter: blur(10px) contrast(0.9);
            height: 100%;
            align-items: center;
            width: 100%;
            justify-content: center;

            .elemento {
                color: rgb(208, 214, 249);
                text-decoration: none;
                display: flex;
                flex-direction: column;
                gap: 38px;
                height: 100%;
                /* flex-direction: row; */
                /* align-items: center;
        justify-content: center; */

                .rellenuto {
                    width: 100%;
                    height: 2px;
                }

                .conjunto {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    gap: 8px;

                }

                .cuadro1 {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;

                    .barra {
                        background-color: #fff;
                        width: 100%;
                        height: 3px;

                    }

                    .barrahidden {
                        /* display: none; */
                        background-color: #fff;
                        width: 100%;
                        opacity: 0;
                        transition: opacity 0.8s ease 0s;

                    }
                }

                &:hover {
                    .barrahidden {
                        /* display: block; */
                        opacity: 0.7;
                    }
                }

                /* .barra {
          background-color: #fff;
          width: 100%;
          height: 4px;
          display: none;
        } */
            }

            .numero {
                color: #fff;
                font-weight: 900;
            }

            .relleno {
                width: 1px;
                /* display: none; */
            }
        }
    }

    .titulo {
        padding: 40px 40px 20px 40px;
        font-size: 20px;
        color: #fff;
        text-align: justify;
    }

    .cuerpo-desktop {
        display: none;
    }

    .cuerpo {

        .cuerpo2 {
            width: 100%;

            .selector {
                .elemento {
                    width: 56px;
                    height: 56px;
                    font-size: 24px;
                }
            }

            .explanation {

                .type {
                    font-size: 24px;
                }

                .rocket {
                    font-size: 40px;
                }
            }

            .information {
                width: 512px;
                padding: 0;
            }

            .image-tablet {
                display: block;
                width: 100%;
                height: 360px;

                .imgt{
                    display: block;
                }
            }

            .img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            .image {
                display: none;
            }
        }
    }
}